
<div class="settings-container">
  <h2>Paramètres</h2>
  
  <div class="setting-item">
    <label for="darkModeToggle">Mode Sombre</label>
    <button 
      id="darkModeToggle"
      class="toggle-btn" 
      [class.active]="isDarkMode"
      (click)="toggleDarkMode()">
      <span class="toggle-circle"></span>
    </button>
    <span class="toggle-status">{{ isDarkMode ? 'Activé' : 'Désactivé' }}</span>
  </div>

  <div class="setting-item">
    <button class='logoutbtn' (click)="logout()">
      <span class="logout-icon"><svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
      fill="currentColor" viewBox="0 0 24 24" >
      <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
      <path d="M16 11 9 11 9 13 16 13 16 17 22 12 16 7 16 11z"/><path d="m11,21v-2c-3.86,0-7-3.14-7-7s3.14-7,7-7v-2C6.04,3,2,7.04,2,12s4.04,9,9,9Z"/>
      </svg></span>
       Se déconnecter
    </button>
  </div>

</div>